{% extends "base.html" %}

{% from "tools/macros.html" import create_pagination %}

{% block content %}
    <h1 class="mb-4">{{ title }}</h1>
    <div class="list-group">
        {% for topic in topics.get_page(page) %}
            {% include "tools/topic_preview.html" %}
        {% endfor %}
    </div>
    {% if category %}
        {{ create_pagination(topics, page, category.id, "category_content") }}
    {% else %}
        {{ create_pagination(topics, page, "no_category", "category_content") }}
    {% endif %}
{% endblock %}