{% extends "base.html" %}

{% block content %}
    <h1 class="mb-3">Редактировать комментарий</h1>
    <!-- Ошибки формы -->
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <span class="text-muted">{{ form.text.label }}</span>
            {{ form.text(class="form-control") }}
            {% for error in form.text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <div class="d-flex justify-content-between">
            {{ form.submit(type="submit", class="btn btn-dark") }}
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Удалить
            </button>
        </div>
        <!-- Предупреждение об удалении комментария -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Удаление комментария</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Вы действительно хотите удалить данный комментарий?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        {{ form.delete(type="submit", class="btn btn-danger") }}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}