{% extends "base.html" %}

{% from "tools/macros.html" import input, button_delete_with_alert %}

{% block content %}
    <h1 class="mb-3">Редактировать комментарий</h1>
    <!-- Ошибки формы -->
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ input(form.text) }}
        <div class="d-flex justify-content-between">
            {{ form.submit(type="submit", class="btn btn-dark") }}
            {{ button_delete_with_alert("Удаление комментария", "Вы действительно хотите удалить данный комментарий?", form.delete) }}
        </div>
        <!-- Предупреждение об удалении комментария -->
    </form>
{% endblock %}