{% extends "base.html" %}

{% from "tools/macros.html" import input %}

{% block content %}
    {# Форма редактирования пароля #}
    <h1 class="mb-3">{{ title }}</h1>
    {# Ошибки формы #}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ input(form.old_password, type="password") }}
        {{ input(form.password, type="password") }}
        {{ input(form.password_again, type="password") }}
        <p>{{ form.submit(type="submit", class="btn btn-dark") }}</p>
    </form>
{% endblock %}