{% extends "base.html" %}

{% block content %}
    {% for topic in topics %}
        <div class="card bg-light mb-3">
            <div class="card-header">
                <div class="row">
                    <b class="col-sm">{{ topic.title }}</b>
                    <div class="col-sm text-end text-muted">Создан: {{ topic.author.username }}</div>
                </div>
            </div>
            <div class="card-body pb-2 pt-2">
                {{ topic.text }}
            </div>
            <div class="card-footer text-end text-muted">
                Обновлено:
                {% if topic.comments %}
                    {{ topic.comments[-1].get_created_time() }}
                {% else %}
                    {{ topic.get_created_time() }}
                {% endif %}
            </div>

            <a href="/topic/{{ topic.id }}" class="stretched-link"></a>
        </div>
    {% endfor %}
{% endblock %}