{% extends "base.html" %}

{% from "tools/macros.html" import input %}

{% block content %}
    <h3>Авторизация</h3>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ input(form.username) }}
        {{ input(form.password, "password") }}
        <!-- Сообщение об ошибке -->
        {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endif %}
        <!-- Кнопка входа -->
        <p>{{ form.submit(type="submit", class="btn btn-dark float-end") }}</p>
    </form>
{% endblock %}