{% extends "base.html" %}

{% block content %}
    <!-- Описание темы -->
    <div class="card bg-light mb-3">
        <div class="card-header d-flex flex-row justify-content-between">
            <h3>{{ topic.title }}</h3>
            <!-- Доп. действия для темы -->
            <div class="dropdown">
                <button type="button" class="btn btn-sm btn-light float-end"
                        id="dropdownMenuButtonTopic" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonTopic">
                    <li><a href="{{ url_for("edit_topic", id=topic.id) }}" class="dropdown-item">
                        Редактировать
                    </a></li>
                </ul>
            </div>
        </div>
        {% if page == 1 %}
            <div class="card-body">
                {% for p in topic.text.split("\n") %}
                    <p>{{ p }}</p>
                {% endfor %}
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <div>Опубликовано: {{ topic.get_created_time() }}</div>
                <div class="text-end">Автор: {{ topic.author.username }}</div>
            </div>
        {% endif %}
    </div>
    <!-- Комментарии к теме -->
    {% for comment in comments.get_page(page) %}
        <div class="card bg-light mb-3" id="comment-{{ comment.id }}">
            <div class="card-header d-flex justify-content-between">
                <div class="align-self-center text-muted">Автор: {{ comment.author.username }}</div>
                <!-- Доп. действия для комментария -->
                <div class="dropdown">
                    <button type="button" class="btn btn-sm btn-light float-end"
                            id="dropdownMenuButtonComment{{ comment.id }}" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonComment{{ comment.id }}">
                        <li><a href="{{ url_for("edit_comment", id=comment.id) }}" class="dropdown-item">
                            Редактировать
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                {% for p in comment.text.split("\n") %}
                    <p>{{ p }}</p>
                {% endfor %}
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <div>Опубликовано: {{ comment.get_created_time() }}</div>
            </div>
        </div>
    {% endfor %}
    <!-- Добавление своего комментария в тему -->
    {% if current_user.is_authenticated %}
        <p>
            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePostComment"
                    aria-expanded="false" aria-controls="collapsePostComment">
                Добавить комментарий
            </button>
        </p>
        <div class="collapse" id="collapsePostComment">
            <div class="card">
                <div class="card-header">
                    <h5>Добавление комментария</h5>
                </div>
                <div class="card-body">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <p>
                            <span class="text-muted">{{ form.text.label }}</span>
                            {{ form.text(class="form-control") }}
                            {% for error in form.text.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </p>
                        <p>{{ form.submit(type="submit", class="btn btn-dark float-end") }}</p>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Навигация по страницам темы -->
    {% from "tools/pagination.html" import create_pagination %}
    {{ create_pagination(comments, page, topic.id, "topic_content") }}
{% endblock %}