{% extends "base.html" %}

{% block content %}
    <div class="card bg-light mb-3">
        <h3 class="card-header">{{ topic.title }}</h3>
        <div class="card-body">
            {{ topic.comments[0].text }}
        </div>
        <div class="card-footer text-muted">
            <div class="row">
                <div class="col-sm text-start">{{ topic.comments[0].created_time.strftime("%d.%m.%Y %H:%M:%S") }}</div>
                <div class="col-sm text-end">{{ topic.comments[0].author.username }}</div>
            </div>
        </div>
    </div>
    {% for comment in topic.comments[1:] %}
        <div class="card bg-light mb-3">
            <div class="card-body">
                {{ comment.text }}
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col-sm text-start">{{ comment.created_time.strftime("%d.%m.%Y %H:%M:%S") }}</div>
                    <div class="col-sm text-end">{{ comment.author.username }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}