{% extends "base.html" %}

{% from "tools/macros.html" import input %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <div class="accordion" id="accordionEdit">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEditInfo">
                <button class="accordion-button {% if accordion != 1 %}collapsed{% endif %}" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseEditInfo" aria-expanded="true"
                        aria-controls="collapseEditInfo">
                    Изменить профиль
                </button>
            </h2>
            <div id="collapseEditInfo" class="accordion-collapse collapse {% if accordion == 1 %}show{% endif %}"
                 aria-labelledby="headingEditInfo" data-bs-parent="#accordionEdit">
                <div class="accordion-body">
                    <form method="post" novalidate>
                        {{ form_info.hidden_tag() }}
                        {{ input(form_info.username, disabled=current_user.username == "admin") }}
                        {{ input(form_info.email, type="email") }}
                        <p>{{ form_info.submit(type="submit", class="btn btn-dark") }}</p>
                    </form>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEditPassword">
                <button class="accordion-button {% if accordion != 2 %}collapsed{% endif %}" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseEditPassword" aria-expanded="false"
                        aria-controls="collapseEditPassword">
                    Изменить пароль
                </button>
            </h2>
            <div id="collapseEditPassword" class="accordion-collapse collapse {% if accordion == 2 %}show{% endif %}"
                 aria-labelledby="headingEditPassword" data-bs-parent="#accordionEdit">
                <div class="accordion-body">
                    <form method="post" novalidate>
                        {{ form_password.hidden_tag() }}
                        {{ input(form_password.old_password, type="password") }}
                        {{ input(form_password.password, type="password") }}
                        {{ input(form_password.password_again, type="password") }}
                        <p>{{ form_password.submit(type="submit", class="btn btn-dark") }}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}