{% extends "base.html" %}

{% from "tools/macros.html" import create_pagination %}

{% block content %}
    {# Таблица с пользователями на форуме #}
    <h1 class="mb-3">{{ title }}</h1>
    <table class="table border-start border-end">
        {# Названия столбиков #}
        <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Логин</th>
            <th scope="col">Эл. почта</th>
            <th scope="col">Администратор</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {# Вывод данных пользователей #}
        {% for user in users %}
            {# Если пользователь является админом, то он будет выделяться цветом и показываться в самом вверху таблицы #}
            <tr class="{% if user.is_admin() %}table-success{% endif %}">
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if user.is_admin() %}
                        Да
                    {% else %}
                        Нет
                    {% endif %}
                </td>
                {# Дополнительные действия с пользователями #}
                {# Администраторы могут удалять пользователей, но не администраторов #}
                {# Главный администратор может управлять администраторами и удалять пользователей с администратором #}
                <td>
                    {% if (current_user.is_admin() and not user.is_admin()) or (current_user.username == "admin" and user.username != "admin") %}
                        <div class="me-1 dropdown align-self-center">
                                <span type="button" class="float-end link-secondary"
                                      id="dropdownMenuButtonTopic" data-bs-toggle="dropdown"
                                      aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonTopic">
                                {% if current_user.username == "admin" %}
                                    <li>
                                        <form method="post">
                                            <button type="submit" name="button" value="admin-{{ user.id }}"
                                                    class="dropdown-item">
                                                {% if user.is_admin() %}
                                                    <i class="bi bi-person-x-fill"></i> Удалить из администраторов
                                                {% else %}
                                                    <i class="bi bi-person-plus-fill"></i> Добавить в администраторы
                                                {% endif %}
                                            </button>
                                        </form>
                                    </li>
                                {% endif %}
                                <li>
                                    <form method="post">
                                        <button type="submit" name="button" value="delete-{{ user.id }}"
                                                class="dropdown-item">
                                            <i class="bi bi-trash-fill"></i> Удалить
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}